.VideoModal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.39);
    transition: .3s;
    z-index: 9999;
}

.VideoModal video{
    width: 720px;
    max-width: 99%;
}