.gs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.gs-container-sec-1,
.gs-container-sec-2 {
    flex: 50%;
    padding: 15px;
}

.gs-container-sec-2-box {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Port Lligat Sans;
}

.gs-container-sec-2-box img {
    width: 100%;
    max-height: 540px;
    object-fit: fill;
}

.gs-container-sec-2-box h6 {
    font-weight: 600;
}

.gs-container-sec-2-box .tags {
    display: flex;
    gap: 20px;
}

.gs-container-sec-2-box .tags .tag-box {
    background-color: #F1F5F9;
    border-radius: 10px;
    color: black;
    padding: 5px;
    font-size: .9rem;
}

.gs .box-footer {
    display: flex;
    gap: 30px;
    padding-top: 20px;
}

.gs .box-footer>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.gs .box-footer>div .rIcon {
    font-size: 1.3rem;
}

.gs-container-sec-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 50vh;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.gs-container-sec-1-item {
    width: 100%;
    display: flex;
    gap: 10px;
    height: auto;
    cursor: pointer;
    
    /* border-bottom: 1px solid #D9D9D9; */
}

.gs-container-sec-1 .gs-container-sec-1-item-divider {
    width: 50%;
    top: 0px;
    height: 2px;
    background-color: #D9D9D9;
    margin-top: 20px;
}

.gs-container-sec-1-item-content {
    display: flex;
    flex-direction: column;
}

.gs-container-sec-1-item-content span {
    max-width: 90%;
    font-weight: 450;
    color: #969696;
}

.gs-container-sec-1-item-content ul li {
    max-width: 90%;
    font-weight: 450;
    color: #969696;
}

.gs-container-sec-1-item-content ul {
    padding-top: 10px;
}

.gs-container-sec-1-item-content button {
    width: 80px;
    font-size: .7rem;
}

.gs-container-sec-1-item * {
    transition: .3s;
}

.gs-container-sec-1-item-divider {
    width: 50%;
    height: 2px;
    background-color: #DADADA;
    margin-top: 20px;
}

.gs-container-sec-1-item-divider.active {
    background-color: black;
    height: 2px;
    margin-top: 15px;
}

.gs-container-sec-1-item img {
    width: 150px;
    height: 150px;
    min-height: 150px;
    min-width: 150px;
}

@media(max-width:964px) {

    .gs-container-sec-1,
    .gs-container-sec-2 {
        flex: 100%;
    }

    .gs-container-sec-2 {
        display: none;
    }

    .gs-container-sec-1 .gs-container-sec-1-item-divider {
        width: 75%;
    }

    .gs-container-sec-1 {
        align-items: center;
    }
    .gs {
        padding-top: 0px;
    }
    .gs-container-sec-1-item img {
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
        object-fit: fill;
    }
}





